
.contentPage {
    padding: 10px;
}

.container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.container .leftItem {
    width: 60%;
    background-color: #fff;
    min-height: 250px;
}

.container .rightItem {
    flex: 1;
    background-color: #fff;
    margin-left: 10px;
    min-height: 250px;
}

.minHeight {
    min-height: 300px !important;
}

.itemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f4f4f4;
}

.labelIcon {
    width: 3px;
    height: 14px;
    background-color: #0142b8;
    margin-right: 4px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 2px;
}

.title {
    cursor: pointer;
    margin-right: 15px;
    color: #c3c1c2;
}

.selectedTitle {
    color: #312f30;
    font-weight: 600
}

.itemBody {
    padding: 10px 20px;
}

.tagList {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #f7f7f7;
}

.tagList span {
    min-width: 100px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #f0f0f0;
    color: #0142b8;
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    border-radius: 4px;
}
.msgItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    border-bottom: 1px dashed #cecece;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer;
}

.msgItem:hover {
    background-color: #f5f7fa;
}

.msgItem:last-child {
    border-bottom: none;
}

.comPic {
    width: 340px;
    height: 220px;
}

.newsList {
    margin-left: 15px;
    flex: 1;
    width: 1px;
}

.newsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    border-bottom: 1px dashed #cecece;
    padding: 18px 0;
    font-size: 12px;
    cursor: pointer;
}

.newsItem:hover {
    background-color: #f5f7fa;
}

.dot {
    background-color: #c5c5c5;
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    flex-shrink: 0;
}

.newTag {
    background-color: #a5a5a5;
    color: #fff;
    margin-left: 10px;
    padding: 0 3px;
    font-size: 8px;
    border-radius: 4px;
}
.content-iframe {
  width: 100%;
  height: calc(100vh - 144px);
  border: none;
  background-color: #fff;
  display: block;
  border-radius: 6px;
}

.ant-tabs-nav {
    padding: 5px;
    margin: 10px 10px 0 !important;
    background-color: #fff;
}

.ant-tabs .ant-tabs-tab-btn {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shortcutItem {
    margin: 5px 10px;
    cursor: pointer;
    padding: 5px;
}
 
.shortcutItem:hover {
    background-color: #f5f7fa;
}